# API URL (Backend endpoint)
VITE_API_URL=http://localhost:5000/api

# Google OAuth Client ID
# You need to create this client ID in Google Cloud Console (https://console.cloud.google.com/)
# Select Web Application, set authorized JavaScript origins to http://localhost:3000
VITE_GOOGLE_CLIENT_ID=907634748693-ost1t33uj8pprs415uo5b53e22kga78h.apps.googleusercontent.com
