# Google Gemini API Key
GEMINI_API_KEY=your-gemini-api-key-here

# Pinecone
PINECONE_API_KEY=your-pinecone-api-key-here
PINECONE_ENV=us-east-1-aws
PINECONE_INDEX_NAME=elearning-rag

# Folder chứa data
DATA_FOLDER=./data
